# frontend
/frontend/.next
/frontend/node_modules
/frontend/graphql.schema.json
/frontend/next-env.d.ts
/frontend/yarn-error.log
/frontend/src/graphql/graphqlClientApi.ts

# backend
/backend/dist
/backend/node_modules
/backend/yarn-error.log
/backend/.env

# docs
/docs/.next
/docs/node_modules